body{
    background-color: black;
}
.calculator{
    width: 250px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 10px;
    background-color: rgb(110, 110, 110, 1);
    border-radius: 10px;
}
#visor{
    grid-column: span 4;
    font-size: 30px;
}
button{
    border-radius: 50px;
    
    border: none;
}
.operator-button:hover{
    background-color: rgba(255, 153, 0, 0.527);
}
.number-button:hover{
    background-color: rgba(0, 0, 0, 0.795);
}
.other-button:hover{
    background-color: rgb(99, 99, 99);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 5px;
    border: none;
}
.operator-button{
    background-color: orange;
    color: rgb(0, 0, 0);
}
.number-button{
    background-color: black;
    color: white;
}
.other-button{
    background-color: gray;
    color: white;
}
.janela-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.527);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 60%;
    min-width: 400px;
    min-height: 200px;
    background-color: aliceblue;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}
.close{
    position:absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.close:hover{
    transform: scale(1.1);
}
.janela-modal.abrir{
    display: flex;
}
@keyframes abrirjanela{
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
}
.abrir .modal{
    animation: abrirjanela 0.6s;
}