body{
    background-color: black;
    margin: 0px;
}
.calculiaGui{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    margin-top: none;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    transition: transform 0.2s ease-in-out; 
    padding: 0px;  
}
li{
    transition: transform 0.2s ease-in-out;
}
li:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    
}

.calculator{
    width: 250px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 15px;
    background-color: rgb(110, 110, 110, 1);
    border-radius: 10px;
    margin-top: 30px;
}
#visor{
    grid-column: span 4;
    font-size: 30px;
    padding: 5px;
}
button{
    border-radius: 50px;
    
    border: none;
}
.operator-button:hover{
    background-color: rgba(255, 153, 0, 0.527);
}
.number-button:hover{
    background-color: rgba(0, 0, 0, 0.795);
}
.other-button:hover{
    background-color: rgb(99, 99, 99);
}
input{
    border-radius: 5px;
    border: none;
}
.operator-button{
    background-color: orange;
    color: rgb(0, 0, 0);
}
.number-button{
    background-color: black;
    color: white;
}
.other-button{
    background-color: gray;
    color: white;
}
.janela-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.527);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal{
    width: 60%;
    min-width: 400px;
    min-height: 200px;
    background-color: aliceblue;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    font-family:"Inter", sans-serif;
}
.close{
    position:absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.close:hover{
    transform: scale(1.1);
}
.janela-modal.abrir{
   display: flex;
}
@keyframes abrirjanela{
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
}
.abrir .modal{
    animation: abrirjanela 0.6s;
}
#explain-button{
    background-color: orangered;
    padding: 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: black;
    font-size: medium;
    transition: transform 0.2s ease-in-out;
}
#explain-button:hover{
    transform: scale(1.1);
}
.spinner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid black;
    animation: spin 0.6s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;

}
#responseArea{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}