.calculator{
    width: 250px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 10px;
    background-color: rgb(110, 110, 110, 1);
    border-radius: 10px;
}
#visor{
    grid-column: span 4;
    font-size: 30px;
}
button{
    border-radius: 50px;
    
    border: none;
}
button:hover{
    background-color: rgb(58, 58, 58, 0.1);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}