body{
    background-color: black;
}
.calculator{
    width: 250px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 10px;
    background-color: rgb(110, 110, 110, 1);
    border-radius: 10px;
}
#visor{
    grid-column: span 4;
    font-size: 30px;
}
button{
    border-radius: 50px;
    
    border: none;
}
.operator-button:hover{
    background-color: rgba(255, 153, 0, 0.527);
}
.number-button:hover{
    background-color: rgba(0, 0, 0, 0.795);
}
.other-button:hover{
    background-color: rgb(99, 99, 99);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 5px;
    border: none;
}
.operator-button{
    background-color: orange;
    color: rgb(0, 0, 0);
}
.number-button{
    background-color: black;
    color: white;
}
.other-button{
    background-color: gray;
    color: white;
}
